<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/ob_hibernate</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">admin</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="current_session_context_class">thread</property>

    <!-- DB schema will be updated if needed -->
<!--     <property name="hibernate.hbm2ddl.auto">create</property>-->
    <property name="hibernate.hbm2ddl.auto">create</property>
<!--    Para importar múltiples archivos sql utilizamos:-->
<!--    <property name="hibernate.hbm2ddl.import_files">import.sql,data.sql</property>-->

    <!-- entities -->
    <mapping class="com.example.entities.Employee"/>
    <mapping class="com.example.entities.Car"/>

  </session-factory>
</hibernate-configuration>